/* App.css */
body{
  background-color: #efecec;
}
.app {
  font-family: Arial, sans-serif;
  background-color: #efecec;
}

.app-bar {
  background-color: #62929a;
}

.container {
  padding-top: 20px;
}

.card {
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post-content {
  overflow-x: auto;         
  overflow-y: hidden;       
  white-space: nowrap;      
  word-wrap: normal;        
  background-color: #f9f9f9; 
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  font-family: monospace; 
}

.card-content input,
.card-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-content textarea {
  resize: vertical;
  min-height: 100px;
}

.add-post-button {
  padding: 10px;
  background-color: #62929a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-post-button:hover {
  background-color: #507f86;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-actions button {
  margin-left: 5px;
}